.poetry{
  padding-top: 1.8rem;
  width: 86%;
  margin: 0 auto;
  .register-poetry{
    width: 1.8rem;
    height: 4rem;
    font-size: 1.8rem;
    text-align: center;
    float: right;
    margin-right: 3.5rem;
  }
  // .register-poetry:last-child{
  //   margin-right: 0;
  // }

}

.register{
    position: absolute;
    bottom: 2.2rem;
    width: 86%;
    left: 7%;
    .inputValue{
      width: 100%;
      margin-bottom: 0.5rem;
      height: 2rem;
      line-height: 2rem;
      text-indent: 5px;
      background-color:transparent;
      border: 0;
      border-bottom: 1px solid black;
      outline: 0;
    }
    .sure{
      margin-top: 0.5rem;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color:#161616;
      color: white;
      outline: 0;
      border: 0;
    }
      .register-title{
      margin-top: 0.5rem;
      margin-bottom: 2px;
      text-align: center;
      color: #161616;
      a{
        color: #e53935;
      }
    }
}

// @media screen and (min-width: 400px) {
//   .register-poetry{
//       font-size: 2rem!important;
//   }
// }
